.App {
  text-align: center;
}
.error{
  background-color:#00000063;
  color: white;
  font-size: 10px;
  margin: 0 auto;
  padding: 20px;
  position: absolute !important;
  border-bottom-right-radius: 50px;

}




